@model IEnumerable<ProjetoFinal.Models.FechamentoCaixa>

@{
    ViewData["Title"] = "Index";
}

<h1>Fechamentos de Caixa</h1>

<p class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-calculator-fill"></i> Novo Fechamento</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataFechamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorFinal)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFechamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorFinal)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.FechamentoID" class="btn btn-info"><i class="bi bi-info-circle-fill"></i>Info</a>
                </td>
            </tr>
        }
    </tbody>
</table>
