@model ProjetoFinal.Models.Compra

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Cancelar</h1>

<h3 class="text-center">Tem certeza que deseja cancelar (e excluir) esta compra?</h3>
<div>
    <h4>Compra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CompraID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary ms-3">Voltar</a>
    </form>
</div>
